#idContainer {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 10px;
}


#txtOutput {
  font-size: 16px;
  border: none;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;

}

#txtMsg {
  font-size: 16px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;

}